@import "tailwindcss";

@theme {
    --font-sans: 'Helvetica Neue', sans-serif;
    --color-base-0: #ffffff;
    --color-base-1: #fafafa;
    --color-base-2: #f5f5f5;
    --color-base-3: #e5e5e5;
    --color-base-4: #d4d4d4;
    --color-base-5: #737373;
    --color-base-6: #4d4d4d;
    --color-base-7: #262626;
    --color-base-8: #171717;
    --color-base-9: #0a0a0a;
    --color-base-10: #000000;

    --ease-smooth: cubic-bezier(.4, 0, .2, 1);

    --text-3xl: 2rem;
}

@layer base {
    :root {
        font-feature-settings: 'liga' 1, 'calt' 1, 'cv06' 1;
    }
}