---
import HeadshotImage from "@/assets/about/headshot.png";
---

<section class="px-5 py-50">
  <div class="grid grid-cols-10 gap-4 mb-10">
    <h1
      class="text-6xl/none col-span-full leading-tight tracking-tight font-medium"
    >
      <span class="block">A decade spent shaping products</span>
      <span class="text-base-5 block"
        >From early ideas to production systems.</span
      >
    </h1>
  </div>

  <div class="col-span-10 w-full aspect-2/1">
    <img
      src={HeadshotImage.src}
      alt="Abhishek Kambli"
      class="w-full h-full object-cover"
    />
  </div>
</section>
