---
import Layout from "@layouts/Layout.astro";
import ProjectGrid from "@/components/home/ProjectGrid.astro";
import Lead from "@/components/home/Lead.astro";
import Testimonial from "@/components/home/Testimonial.astro";
import Footer from "@/components/home/Footer.astro";
---

<Layout>
  <main>
    <Lead />
    <ProjectGrid />
    <Testimonial />
    <Footer />
  </main>
</Layout>
