<section
  class="px-5 py-50 flex flex-col justify-center border-t border-base-10/5"
>
  <div class="grid grid-cols-10 gap-4">
    <p
      class="text-xs col-span-3 uppercase tracking-wide font-semibold text-base-5"
    >
      Testimonial
    </p>
    <div class="col-span-5 flex flex-col text-pretty gap-10">
      <p class="text-3xl leading-tight tracking-tight font-semibold">
        I had a memorable time working with Abhishek. His grasp on UI and UX
        design theory was evident. He was a notable asset to the tlkn app with
        relentless motivation towards creating a perfect product.
      </p>

      <div class="flex items-center gap-2.5">
        <div class="aspect-square size-8 bg-base-7"></div>
        <div class="text-xs uppercase tracking-wide font-semibold">
          <p>Raja Sandhu</p>
          <p class="text-base-5">Cofounder @tlkn</p>
        </div>
      </div>
    </div>
  </div>
</section>
