---
import { cn } from "@/utils/helper";

const LINKS = [
  {
    name: "Work",
    href: "/",
  },
  {
    name: "Experience",
    href: "/experience",
  },
  {
    name: "About",
    href: "/about",
  },
  {
    name: "Contact",
    href: "/contact",
  },
];

const currentPath = Astro.url.pathname;
---

<header class="p-4">
  <div class="grid grid-cols-12 gap-4 items-end">
    <a
      class="flex flex-col col-span-4 text-xs uppercase tracking-wide font-bold"
      href="/"
    >
      <p>Abhishek</p>
      <p class="text-base-5">Product Designer & Frontend Developer</p>
    </a>

    {
      LINKS.map((link) => {
        const isActive = currentPath === link.href;
        return (
          <a
            class={cn(
              "text-xs uppercase tracking-wide font-bold justify-self-start transition-colors ease-smooth col-span-2",
              "hover:text-base-10",
              isActive ? "text-base-10" : "text-base-6"
            )}
            href={link.href}
          >
            {link.name}
          </a>
        );
      })
    }
  </div>
</header>
