---
const LINKS = [
  {
    name: "Work",
    href: "/",
  },
  {
    name: "Experience",
    href: "/",
  },
  {
    name: "About",
    href: "/",
  },
  {
    name: "Contact",
    href: "/",
  },
];
---

<header class="p-5">
  <div class="grid grid-cols-6 gap-5">
    <a class="flex flex-col col-span-2 text-sm" href="/">
      <p>Abhishek</p>
      <p class="text-base-6">Product Designer & Frontend Developer</p>
    </a>

    {
      LINKS.map((link) => (
        <a class="text-sm" href={link.href}>
          {link.name}
        </a>
      ))
    }
  </div>
</header>
