---
import { ClientRouter } from "astro:transitions";
import "../styles/global.css";

import Header from "@/components/common/Header.astro";
import LayoutGrid from "@/components/common/LayoutGrid.svelte";
import Footer from "@/components/common/Footer.astro";
---

<!doctype html>
<html
  lang="en"
  class="scroll-smooth"
  transition:animate="none"
  transition:name="root"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
    <link rel="preconnect" href="https://rsms.me/" />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
    <ClientRouter />
    <style is:inline>
      @view-transition {
        navigation: auto;
      }

      ::view-transition-group(*) {
        animation-duration: 0.6s;
        animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      }

      ::view-transition-old(*),
      ::view-transition-new(*) {
        animation-duration: 0.6s;
        animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      }
    </style>
  </head>
  <body class="antialiased bg-base-0 text-base-10">
    <main class="min-h-dvh flex flex-col">
      <Header />
      <slot />
      <Footer />
    </main>
    <LayoutGrid client:only="svelte" />
  </body>
</html>
